/**
 * Master Javascript - by Med Reda Kamal
 * Style File
 */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
*,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.kam-app {
  padding: 15px;
}

.kam-title {
  display: flex;
  align-items: center;
  font-size: 19.95px;
}
.kam-star {
  margin-right: 5px;
}
.kam-seperator {
  margin-top: 10px;
}

/* Tip 1 : Iterate with for...of loop using Symbol.iterator - (Users Example) */
.usersTable {
  margin: 15px 0px;
  padding: 10px;
}
.usersTable thead {
  text-align: left;
}
.usersTable,
.usersTable th,
.usersTable td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}
