/**
 * Master Javascript - by Med Reda Kamal
 * Style File
 */

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

*,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Urbanist", sans-serif;
}

.kam-app {
  padding: 15px;
}

.kam-title {
  display: flex;
  align-items: center;
  font-size: 19.95px;
}
.kam-star {
  margin-right: 5px;
}
.kam-seperator {
  margin-top: 10px;
}
